*{
    margin: 0;
    padding: 0;
}
.main{
    
    height: 80vh;
    width: 100%;
    position: relative;
    background-image:url(/html/Netflix/assets/images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);

    
}

.black-opacity{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 80vh;
    background-color: black;
    opacity: 0.44;
}

.navbar{
   height: 40px;
   margin: auto ;
   max-width:80vw;
   position: relative;

   z-index: 10;
  display: flex;
  justify-content: space-between;
}