.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.border {
  border: 2px solid red;

  margin: 3px;
}

.bg-grey{
  background-color: #121212;
  color: white;
}

.m-1{
  margin: 5px;
}
.rounded{
  border-radius: 7px;
}

.p-1{
  padding: 10px;
}

